# List

#List nimalardi organdik takrorlaymiz

In [ ]:
# my_list=[] list yaratamiz
# my_list=[x] indexni topish
# my_list=[2:5] 2 indexdan 5 indexgacha olamiz degani
# my_list=[1:] 1 index dan keyingisini olamiz degani
# my_list=[:6] 6 indexgacha olamiz degani
# my_list.appent(x) listga qiymat qoshish usuli
# my_list.insert(x) istalgan joyga qoshsak boladi
# my_list.pop(index) ochirish usuli
# my_list.index(x) index topish usuli
# my_list.pop() ohiridan avto ochirish
# del my_list [2] 2 indexni ochirib tashla 
# del my_list[3:6] 3 indexdan 6 indexgacha ochirish usuli

In [5]:
# List tuzilishi

my_list = [1, 2, 3, 4, 5]

# Listda turli xil data typeslar bilan ishlashimiz mumkin (Int, str,object)

turlixil_list = [7, "kema", 3.14, [44, 55, 66]]
 
print(my_list)
print(turlixil_list)

[1, 2, 3, 4, 5]
[7, 'kema', 3.14, [44, 55, 66]]

In [33]:
# Indexing lar bilan ishlash

takrorlash_list1=[5,15,25,35,45,55,('ona','bola','ota'), 23.5, 2,4, False]
takrorlash_list1[3]

35

In [35]:
# Sclicing(malum bir oraliqdagi ketma ketlikni ajratib olish)
takrorlash_list1

[5, 15, 25, 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False]

In [38]:
# Indexni qanday topamiz

takrorlash_list1.index(55)

5

In [39]:
# malum bir sondan keyin yoki narsadan keyingisini olish ohirigacha

takrorlash_list1[1:]

[15, 25, 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False]

In [40]:
# malum bir sondan keyin yoki narsadan keyingisini olish ohirigacha

takrorlash_list1[1:]

[15, 25, 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False]

In [41]:
# malum bir oraliqdagini olish
#list[x(index):y(index)]

takrorlash_list1[2:7]

[25, 35, 45, 55, ('ona', 'bola', 'ota')]

In [42]:
#listga elementni qoshish
takrorlash_list1.append("dengiz") 
print(takrorlash_list1) 

# Istalgan joyga qoshish, list1.insert(index value)

takrorlash_list1.insert(3, "ShodiyAbdulloh") 
print(takrorlash_list1)

[5, 15, 25, 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False, 'dengiz']
[5, 15, 25, 'ShodiyAbdulloh', 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False, 'dengiz']

In [ ]:
# kerakmas elementlarni olib tashlash usuli qanday
takrorlash_list1.pop()
takrorlash_list1

[5, 15, 25, 'ShodiyAbdulloh', 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4]

In [46]:
#biz hohlagan joydan ochirish
takrorlash_list1.pop(4)

35

In [50]:
# Ochirish uslini koramiz

del takrorlash_list1[5]
takrorlash_list1

[5, 15, 25, 'ShodiyAbdulloh', 45, ('ona', 'bola', 'ota'), 23.5, 2, 4]

In [58]:
#listga elementni qoshish Append bilan 
takrorlash_list1.append('baliq')
takrorlash_list1

[5, 15, 25, 'ShodiyAbdulloh', 45, ('ona', 'bola', 'ota'), 23.5, 2, 4, 'baliq']

In [61]:
# Istalgan joyga qoshish Insert bilan
takrorlash_list1.insert(4,'student')
takrorlash_list1

[5,
 15,
 25,
 'student',
 'student',
 'ShodiyAbdulloh',
 45,
 ('ona', 'bola', 'ota'),
 23.5,
 2,
 4,
 'baliq']

In [62]:
takrorlash_list1.pop(3)
takrorlash_list1

[5,
 15,
 25,
 'student',
 'ShodiyAbdulloh',
 45,
 ('ona', 'bola', 'ota'),
 23.5,
 2,
 4,
 'baliq']

In [75]:
# Bosh list hosil qilish usuli
z=[0,9,8,7,6,5]
a=[]

In [74]:
print(a)

[]

In [ ]:
# for bilan korish

for i in z:
    a.append(i)
print(a)

[0, 9, 8, 7, 6, 5]

In [80]:
n=[5, 15, 25, 'ShodiyAbdulloh', 35, 45, 55, ('ona', 'bola', 'ota'), 23.5, 2, 4, False, 'dengiz']
a=[]

In [85]:
n=[5, 15, 25,  35, 45, 55, 23.5, 2, 4,]
a=[]
for i in n:
    if i%2==0:
        a.append(i)
        print(a)

[2]
[2, 4]

In [ ]:
# Loop bilan qanday koramiz

my_list2=[4,3,5,-55,-56]
for i in my_list2:
    print('musbat' if i>0 else 'manfiy')
    print(i)

musbat
4
musbat
3
musbat
5
manfiy
-55
manfiy
-56

In [90]:
# Iternary Conditionals Operators

my_list3=-44
'Musbat'if my_list3>0 else 'Manfiy'

'Manfiy'

In [91]:
# Iternary Conditionals Operators

my_list3=10
'Musbat'if my_list3>0 else 'Manfiy'

'Musbat'